* {
    margin: 0;
    padding: 0;
    font-family: $defaultFont;
}

html {
    scroll-behavior: smooth;
}

main,
main > section {
    @include flexColumn;
}

main > section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

video {
    position: absolute;
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

ul, p {
    padding: 0;
    margin: 0;
}

a {

}

details {
    display: none;
}

.title-page {
    display: none;
}