@media (min-width: 600px) {

    details {
        display: none;
    }
    
    nav {
        padding-top: 0;
        padding-bottom: 5vh;
        display: flex;
        height: 20vh;
        row-gap: 4vh;

        > article {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        > section {
            position: fixed;
        }

        ul {    
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 2vh;
        }

        li {
            width: 10%;
            display: flex;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1%;
            height: 5vh;
            width: 100%;
            transition: .4s;
            text-align: center;
            color: $defaultColor;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .features {
        flex-direction: row;
        column-gap: 5vh;
    }

    .activities {
        
        > article {
            background-position: center;
        }

        > section {
            width: unset;
        }

        figure {
            flex-direction: row;
            column-gap: 3vh;
            padding: 3%;
        }

        img {
            width: 15vh;
            height: 15vh;
        }
        
    }

    .company {
        img {
            width: 50%;
        }

        figcaption {
            row-gap: 2vh;
            align-items: flex-start;

            a {
                width: 25%;
                font-size: 18px;
                transition: .4s;

                &:hover {
                    background-color: $defaultGray;
                    color: white;
                }
            }
        }

        > section {

            > article {
                width: 90%;
            }
        }
    }

    .contact {

        padding-right: 10%;

        > section {
            align-items: flex-end;
        }

        > figure {
            align-items: flex-end;
        }

        form {
            width: 50%;
        }

        figcaption {
            width: 50vh;
        }

        img {
            width: 50vh;
            height: 30vh;
            object-fit: cover;
            object-position: top;
        }

        [type="submit"] {
            transition: .4s;

            &:hover {
                background-color: $defaultGray;
                color: white;
            }
        }
    }

    .faq {
        width: 100%;
        align-items: center;

        > section {
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 4vh;
        }
    }
}