@media (min-width:600px) {
    details {
        display: none;
    }

    nav {
        ul {
            display: flex;
            justify-content: center;
            column-gap: 5vh;
            width: 100%;
        }

        li {
            display: flex;
        }

        a {
            padding: 5%;
            text-decoration: none;
            color: $defaultColor;
        }
    }
}